<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/post.css" />
  <script src="../static/js/recipe.js"></script>
  <script src="../static/js/jquery-1.12.4.min.js"></script>
</head>
<style>
  * {
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
    }
</style>
<body>
  
  <div class="header">
    <input type="text" id="recipe_name" value="" class="name_input" placeholder="Name:" />
    <form class="types">
  <label class="type">
    <input type="radio" name="type" value="eastern"><span>Eastern</span>
  </label>
  <label class="type">
    <input type="radio" name="type" value="western"><span>Western</span>
  </label>
</form>


  </div>

<div class="upload_picture">
    <h3>Upload Image:</h3>

    <input type="file" name="photo" multiple>
    <button style="margin-top: 12px;border: 1px solid black;"
    onclick="ajax_submit('${loginUser.username }');">upload image</button>

    <img src ="../static/image/recipes/recipe1.png" class="recipe-img" alt="" />
</div>


   <div class="add_ingredient">
    <select id="ingredientSelect">
    </select>
    <input type="text" id="newIngredient">
    <input type="button" value="Add Ingredient" onclick="addIngredient()">
  </div>

<div class="submitBtn">
  <form action="{{ url_for('recipe.edit_recipe') }}" method="post" >
    <input type="submit" value="submit">
  </form>
</div>

</body>

</html>