<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/index.css" />
  <script src="../static/js/recipe.js"></script>
  <script src="../static/js/jquery-1.12.4.min.js"></script>
</head>

<style>
  * {
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
    }
</style>

<body>
<main class="page">


  <header class="hero recipes-container" style="margin-top: 20px;">
    <div>
      user favorite
    </div>
  </header>

  <!-- recipes list -->
  <div id="recipes" class="recipes-list">
    {% for cp in cplist %}
      <a href="single-recipe.html" class="recipe">
      <img src = {{ cp.path }} class="img recipe-img" alt="" />
      <h5>{{ cp.name }}</h5>
    {% endfor %}
  </div>
</main>
</body>
</html>