<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EpicureanMatrix</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="../static/image/huluobu.svg" type="image/x-icon" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="../static/css/index.css" />
  </head>
  <body>
    <!-- Navigation: logo and the type of dish-->
    <nav class="navbar">
      <div class="nav-center">
        <div class="nav-header">
          <a href="index.html" class="nav-logo">
            <img src="../static/image/logo.jpg" alt="EpicureanMatrix" />
          </a>
          <button class="nav-btn btn">
            <i class="fas fa-align-justify"></i>
          </button>
        </div>
        <div class="nav-links">
          <a onclick="all_recipe()" class="nav-link" style="color: #FFFA05"> All </a>
          <a onclick="eastern()" class="nav-link"> Eastern </a>
          <a onclick="western()" class="nav-link"> Western </a>
        </div>
      </div>
    </nav>
    <!-- End of Navigation -->

    <!-- Main Content -->
    <main class="page">
      <header class="hero">
        <!-- search bar -->
        <div class="search">
          <input type="text" id="search" value="" class="search_input" placeholder="Search..." />
          <div class="search_button" onclick="search()">Search</div>
        </div>
      </header>
      <!-- End of Header -->

      <section class="recipes-container">
        <!-- Tag Container -->
        <div class="tags-container">
          <div class="tags-list">
            {% if islogin %}
            <a href="./api/get_recipe?type=all" target="mainframe" class="main">Main</a>
            <a href="./api/edit_recipe" target="mainframe" class="post">Post</a>
            <a href="./favorite.html" class="favorite">Favorite</a>
            <a href="./user.html" class="user">User</a>
            <a href="./api/logout" class="logout">Log out</a>
            {% else %}
            <a href="./api/login" target="_self" class="login">Log in</a>
            {% endif %}
          </div>
        </div>
        <!-- End of Tag Container -->
        
        <iframe id="recipeframe" name="mainframe" onload="this.height=mainframe.document.body.scrollHeight"
        src="./api/get_recipe?type=all" scrolling="no" frameborder="0" style="width:100%;"></iframe>
      </section>
    </main>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="page-footer">
      <p>
        &copy; <span id="date">2023</span>
      </p>
    </footer>
    <script src="../static/js/jquery-1.12.4.min.js"></script>
    <script src="../static/js/index.js"></script>
  </body>
</html>
