<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link href="../static/css/login.css" rel="stylesheet">
</head>
<body>
    <!-- background -->
    <div class="background">
        <img src="../static/image/background.jpeg" alt="backgroundimage">
    </div>

    <!-- user input -->
    <div class="login_table">
        <h1><b>Login</b></h1>
        <p>{{msg}}</p>
        <form id="login-form" action="{{ url_for('login.login') }}" method="post" novalidate>
            {{ form.hidden_tag() }}
            <table>
                <tr>
                    <td>
                        {{ form.username.label }}
                    </td>
                    <td>
                        {{ form.username(placeholder="Username") }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.password.label }}
                    </td>
                    <td>
                        {{ form.password(placeholder="Password") }}
                    </td>
                </tr>
            </table>
            
            <div class="buttons">
                <input value="Login" type="submit" id="login_btn">
            </div>
            <!-- <br class="clear"> -->
    
        </form>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li style="color: red">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <div class="reg-content">
            <span>Don't have an account?</span> <a href="./register">Register</a>
        </div>

    </div>
    
    <footer style="color: palevioletred;">This is Footer</footer>
</body>
</html>
