<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="shortcut icon" href="../static/image/huluobu.svg" type="image/x-icon" />
    <link href="../static/css/login.css" rel="stylesheet">
</head>
<body>
    <!-- background -->
    <main class="background">

  

    <!-- user input -->
    <div class="login_table">
        <h1><b>Login</b></h1>
        <p>{{msg}}</p>
        <form id="login-form" action="{{ url_for('login.login') }}" method="post" novalidate>
            {{ form.hidden_tag() }}
            <table>
                <tr>
                    <td>
                        {{ form.username.label }}
                    </td>
                    <td>
                        {{ form.username(placeholder="Username") }}
                    </td>
                    <td>
                        {% for error in form.username.errors %}
                        <span style="color: red;"> [{{ error}}]</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.password.label }}
                    </td>
                    <td>
                        {{ form.password(placeholder="Password") }}
                    </td>
                    <td>
                        {% for error in form.password.errors %}
                        <span style="color: red;"> [{{ error}}]</span>
                        {% endfor %}
                    </td>
                </tr>
            </table>
            
            <div class="buttons">
                <input value="Login" type="submit" id="login_btn">
            </div>
            <!-- <br class="clear"> -->
    
        </form>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li style="color: red">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <div class="reg-content">
            <span>Don't have an account?</span> <a href="./register">Register</a>
        </div>

    </div>
    </main>
    <footer class="page-footer">
        <p>
          &copy; <span id="date">2023</span>
        </p>
       </footer>
</body>
</html>
