<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>

    <!--左侧展示图片区域-->
    <div></div>

    <!--右侧用户输入信息区域-->
    <div>
        <p>{{msg}}</p>
        <form action="" method="post">
            <div>
                <label for="username">username</label>
                <input type="text" id="username" name="username" value="">
            </div>
            <div>
                <label for="password">password</label>
                <input type="password" id="password" name="password" value="">
            </div>
            <button type="submit">login</button>
        </form>
    </div>


    <!--注册按钮 -->
    <p>Don't have an account? <a href="./register">Register</a></p>

    <!--页脚-->
    <footer style="color: palevioletred;">This is Footer</footer>
</body>
</html>
