<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link  href="../static/css/main.css" rel="stylesheet">
    <title>EpicureanMatrix</title>
</head>
<body>

    <!--固定的侧边栏：用户信息-->
    <div class="sidebar">
        <img src="../static/image/logo.jpg" alt="Your Image Description">

    
        <a href="./main.html" class="main">Main</a>
        <a href="./post.html" class="post">Post</a>
        <a href="./favorite.html" class="favorite">Favorite</a>
        <a href="./user.html" class="user">User</a>

    
    </div>

    <!--侧边栏以外的区域：菜谱、菜系、搜索框-->
    

    <!-- 添加搜索栏 -->
    <div class="search-bar">
    <form action="search.php" method="get"> <!-- 设置适当的表单处理动作和方法 -->
        <input type="text" name="query" placeholder="Search...">
        <button type="submit">Search</button>
    </form>
</div>

    <!--页脚-->
    <footer style="color: palevioletred;">This is Footer</footer>
</body>
</html>

<!DOCTYPE html>
<html lang="en">
