<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/css/manage-user.css" />
  <script src="/static/js/jquery-1.12.4.min.js"></script>
</head>

<body>
<main class="page">
  <header class="hero recipes-container" style="margin-top: 20px;">
    <!-- search bar -->
    <div class="search">
      <input type="text" id="search_user" value="" class="search_input" style="width: 100%;" placeholder="Search..." />
      <div class="search_button" onclick="search_user()">Search</div>
    </div>
  </header>


  <!-- recipes list -->

    <div class="table-box"><table>
      <tr>
          <th id="user-id" >ID</th>
          <th id="user-name">Name</th>
          <th id="opt-delete"></th>
      
      </tr>

      {% for cp in cplist %}
        <tr>
          <td>{{ cp.id }}</td>
          <td>{{ cp.name }}</td>
          <td>
            <input type="button" class="btn_delete" user-id={{ cp.id }} value="Delete"/>
          </td>
        </tr>
      {% endfor %}

  </table></div>
  <!-- end of recipes list -->

  <script src="/static/js/admin.js"></script>
</main>
</body>

</html>