<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/admin.css" />
  <script src="../static/js/jquery-1.12.4.min.js"></script>
</head>

<body>
  <header class="hero recipes-container" style="margin-top: 20px;">
    <!-- search bar -->
    <div class="search">
      <input type="text" id="search" value="" class="search_input" style="width: 100%;" placeholder="Search..." />
      <div class="search_button" onclick="search()">Search</div>
    </div>
  </header>

  <style>
    .btn_delete {
      padding: 5px 5px;
    }
  </style>

  <!-- recipes list -->
  <div id="recipes" class="recipes-list">

    <div class="table-box"><table>
      <tr>
          <th id="user-id">ID</th>
          <th id="user-name">Name</th>
          <th id="user-photo">Photo</th>
          <th id="opt-delete"></th>
      
      </tr>

      {% for cp in cplist %}
        <tr>
          <td>{{ cp.id }}</td>
          <td>{{ cp.name }}</td>
          <td>{{ cp.photo }}</td>
          <td>
            <input type="button" class="btn_delete" user-id={{ cp.id }} value="Delete"/>
          </td>
        </tr>
      {% endfor %}

  </table></div>
  </div>
  <!-- end of recipes list -->

  <script src="../static/js/admin.js"></script>
</body>

</html>