<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/css/admin.css" />
  <script src="/static/js/jquery-1.12.4.min.js"></script>
</head>

<body>
  <header class="hero recipes-container" style="margin-top: 20px;">
    <!-- search bar -->
    <div class="search">
      <input type="text" id="search" value="" class="search_input" style="width: 100%;" placeholder="Search..." />
      <div class="search_button" onclick="search()">Search</div>
    </div>
  </header>

  <!-- recipes list -->
  <div id="recipes" class="recipes-list">
    These are recipes to manage.
  </div>
  <!-- end of recipes list -->

</body>

</html>