<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/index.css" />
</head>

<body>

  <main class="page">
  <header class="hero">
    <!-- search bar -->
    <div class="search">
      <input type="text" id="search" value="" class="search_input" placeholder="Search..." />
      <div class="search_button" onclick="search()">Search</div>
    </div>
  </header>
  <!-- recipes list -->
  <div id="recipes" class="recipes-list">
    {% for cp in cplist %}
    <a href="single-recipe.html" class="recipe">
      <img src = {{ cp.path }} class="img recipe-img" alt="" />
      <h5>{{ cp.name }}</h5>
      {% endfor %}
  </div>
  <!-- end of recipes list -->
  </main>
</body>

</html>