<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- main css -->
    <link rel="stylesheet" href="../static/css/index.css" />
</head>

<body>
    <!-- recipes list -->
    <div class="recipes-list">
        <!-- single recipe -->
        <a href="single-recipe.html" class="recipe">
          <img
            src="../static/image/recipes/recipe1.png"
            class="img recipe-img"
            alt=""
          />
          <h5>Carne Asada</h5>
        
        </a>
        <!-- end of single recipe -->
        <!-- single recipe -->
        <a href="single-recipe.html" class="recipe">
          <img
            src="../static/image/recipes/recipe2.jpeg"
            class="img recipe-img"
            alt=""
          />
          <h5>Greek Ribs</h5>
          
        </a>
        <!-- end of single recipe -->
        <!-- single recipe -->
        <a href="single-recipe.html" class="recipe">
          <img
            src="../static/image/recipes/recipe3.png"
            class="img recipe-img"
            alt=""
          />
          <h5>Vegetable Soup</h5>
        </a>
        <!-- end of single recipe -->
        <!-- single recipe -->
        <a href="single-recipe.html" class="recipe">
          <img
            src="../static/image/recipes/recipe4.jpeg"
            class="img recipe-img"
            alt=""
          />
          <h5>Banana Pancakes</h5>
         
        </a>
  
        <a href="single-recipe.html" class="recipe">
          <img
            src="../static/image/recipes/recipe5.jpeg"
            class="img recipe-img"
            alt=""
          />
          <h5>Carne Asada</h5>
        
        </a>
        <a href="single-recipe.html" class="recipe">
          <img
            src="../static/image/recipes/recipe6.jpg"
            class="img recipe-img"
            alt=""
          />
          <h5>Carne Asada</h5>
        
        </a>
        <!-- end of single recipe -->
      </div>
      <!-- end of recipes list -->

    <script src="../static/js/recipe.js"></script> 
</body>

</html>