<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/post.css" />
  <script src="../static/js/recipe.js"></script>
  <script src="../static/js/jquery-1.12.4.min.js"></script>
</head>
<style>
  * {
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
    }
</style>

<body>
  <main class="page">
    <div id="recipe-details" class="recipe-details">
      <h5>{{ recipe.name }}</h5>
      <img src="{{ recipe.path }}" class="img recipe-img" alt="" />
      <p>Type: {{ recipe.type }}</p>
      <p>Description: {{ recipe.description }}</p>
    </div>

    <div id="ingredients-table" class="ingredients-table">
      <h3>Ingredients:</h3>
      <table>
        <thead>
          <tr>
            <th>Ingredient</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for ingredient in ingredients %}
            <tr>
              <td>{{ ingredient.name }}</td>
              <td>{{ ingredient.amount }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
</body>

</html>