<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <div class="mainframe">
        <div class="toolbar">
            <div class="category">
                <ul>
                    <li onclick="eastern_cuisine()">Eastern Cuisine</li>
                    <li onclick="western_cuisine()">Western Cuisine</li>
                </ul>
            </div>
        </div>
        
        <div class="clear"></div>
        
        <div class="container">
            <div class="recipe">
                <ul>
                    <li>
                        <div class="recipes-list">
                            <div class="pic">
                                <a href="single-recipe.html" class="recipe"></a>
                                <img src="../static/image/recipe1.png" alt="food" class="recipe-img"/>
                            </div>
                            
                            <h5>noodle</h5>
                        </div>
                    </li>
                    <li>
                        <div class="recipes-list">
                            <div class="pic">
                                <a href="single-recipe.html" class="recipe"></a>
                                <img src="../static/image/recipe2.png" alt="food" class="recipe-img"/>
                            </div>
                            
                            <h5>bao zi</h5>
                        </div>
                    </li>
                </ul>
            </div>
            
            <div class="recipe">
                <ul>
                    <li>
                        <div class="recipes-list">
                            <div class="pic">
                                <a href="single-recipe.html" class="recipe"></a>
                                <img src="../static/image/recipe3.png" alt="food" class="recipe-img"/>
                            </div>
                            
                            <h2>strew</h2>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

<script>

    var recipe = document.querySelectorAll(".recipe");

    function chuan_cai() {
        recipe[0].style.display = "block";
        recipe[1].style.display = "";
    }

    function yue_cai() {
        recipe[0].style.display = "";
        recipe[1].style.display = "block";
    }

</script>

</html>