<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="../static/css/register.css" rel="stylesheet">
</head>
<body>
    <!-- background -->
    <div class="background">
        <img src="../static/image/background.jpeg" alt="backgroundimage">
    </div>

    <!-- user input -->
    <div class="register_table">
        <h1><b>Register</b></h1>
        <p>{{msg}}</p>
        <form id="reg-form" action="{{ url_for('login.register') }}" method="post" novalidate>
            {{ form.hidden_tag() }}
            <table>
                <tr>
                    <td>
                        {{ form.username.label }}
                    </td>
                    <td>
                        {{ form.username(placeholder="Username") }}
                    </td>
                    <td>
                        {% for error in form.username.errors %}
                        <span style="color: red;"> [{{ error}}]</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.password.label }}
                    </td>
                    <td>
                        {{ form.password(placeholder="Password") }}
                    </td>
                    <td>
                        {% for error in form.password.errors %}
                        <span style="color: red;"> [{{ error}}]</span>
                        {% endfor %}
                    </td>
                </tr>
            </table>

            <div class="buttons">
                <input value="Register" type="submit" id="reg_btn">
            </div>
            <!-- <br class="clear"> -->
        </form>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li style="color: red">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <div class="reg-content">
            <span>Already have an account?</span> <a href="./login">Log in</a>
        </div>
        
    </div>

    <footer style="color: palevioletred;">This is Footer</footer>
</body>
</html>
