/* 基础样式重置 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  height: 100%; /* 确保 html 和 body 元素占满整个视口 */
  overflow-y: auto; /* 允许在 Y 轴出现滚动条 */
}
.page {

  min-height: calc(100vh - (6rem + 4rem));
}
.header {
    margin-bottom: 20px;
}

/* 图片样式 */
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.text-content {
  flex: 1;
  margin-right: 1rem;
    justify-content: flex-end;/* Add some space between the text and image */
}

.description {
    margin-bottom: 2rem;
    font-size: 18px;
    text-align: justify;

}
.type{
    color: #0056b3;
}

.image-content {
  flex: 1;
  display: flex;
  justify-content: flex-start;
    margin-right: 5rem;
}

.img.recipe-img {
  width: 30rem;
  height: 20rem;
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .image-content {
    justify-content: center;
    margin-top: 20px;
  }

  .img.recipe-img {
    width: 20rem;
    height: auto;
  }
}

/* 标题样式 */


/* 段落样式 */


/* 表格样式 */
#ingredients-table {
    margin-bottom: 20px;
    margin-top: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
.favoriteBtn{
    border-bottom: 1px solid gray;
    margin-bottom: 1rem;
}

/* 按钮样式 */
button.favorite {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 1rem;

}

button.favorite:hover {
    background-color: #45a049;
}

/* 消息闪现样式 */
ul.flashes {
    list-style-type: none;
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    margin-bottom: 20px;
    border-radius: 5px;
}

ul.flashes li {
    margin: 5px 0;
}

 /*响应式设计 */
@media screen and (max-width: 820px) {
  .content {
    flex-direction: column;
  }

  .image-content, .text-content {
    justify-content: center;
    margin-right: 0;
    margin-top: 10px;
  }

  .img.recipe-img {
    width: 30rem; /* 或者设置一个更小的宽度 */
    height: 15rem;
  }
}
