/* Reset default margin and padding for the body */
body {
    margin: 0;
    padding: 0;
}

/* Style for the sidebar */
.sidebar {
    position: fixed; /* Fix the sidebar to the screen */
    top: 0; /* Align it to the top */
    left: 0; /* Align it to the left */
    width: 20%; /* Set the width of the sidebar */
    height: 100%; /* Make it the full height of the screen */
    background-color: #333; /* Background color for the sidebar */
    color: white; /* Text color for the sidebar */
    padding: 20px; /* Add some padding for spacing */
}

.sidebar img {
    width: 80px;
    height: 80px;
}

/* Style for the login link */
.main,.logout,.favorite,.post,.user,.login {
    text-decoration: none; /* Remove underline from the link */
    color: white; /* Text color for the link */
    display: block; /* Display it as a block element for spacing */
    margin-top: 40px;
    border: 1px solid #ccc; /* Add a 1px border */
    border-radius: 10px;
    padding: 5px; /* 添加内边距，增加可点击区域大小 */
    transition: background-color 0.2s; 
    font-weight: bold;/* 添加过渡效果，使背景颜色变化平滑 */
}
.main:hover,.logout:hover,.favorite:hover,.post:hover,.user:hover,.login:hover {
    background-color: #5f5d5d; /* 悬停时的背景颜色 */
    color: #fff; /* 悬停时的文字颜色 */
}

/* Recipes */
.recipes-container {
    display: grid;
    gap: 2rem 1rem;
    border: 2px solid red;
    align-items: start; /* 确保子元素顶部对齐 */
    /* position: fixed; /* 将容器固定在屏幕上 */
    /* right: 0;
    width: 75%; 
    height: 100vh;  */ 
}



.recipes-list {
    display: grid;
    gap: 2rem 1rem;
    padding-bottom: 3rem;
    border: 2px solid green;
}

.recipes {
    display: block;
}

.recipes-img {
    width: 20%; /* 更改为100%以适应列宽度 */
    height: auto;
    object-fit: cover;
    /* border-radius: var(--borderRadius); */
    margin-bottom: 1rem;
    /* 不再需要 margin-left: 200px; */
}




/* Style for the content outside the sidebar */
.search {
    text-align: center; /* 文本内容水平居中 */
    margin-left: 30px;
    margin-top: 40px;
}

/* 样式为输入框 */
.search_content {
    width: 50%; /* 设置输入框宽度为80% */
    padding: 5px; /* 添加内边距 */
    margin: 0 auto; 
    /* 使用auto来水平居中 */
    display: inline-block; /* 将输入框显示为行内块元素 */
    vertical-align: middle; /* 垂直居中对齐 */
}

/* 样式为按钮 */
.search_button {
    display: inline-block; /* 将其转换为行内块元素 */
    padding: 10px 20px;    /* 按钮内边距 */
    background-color: #787a7c; /* 背景颜色 */
    color: #fff;           /* 文字颜色 */
    border: none;          /* 去掉边框 */
    cursor: pointer;       /* 鼠标样式为手型 */
    border-radius: 5px;    /* 圆角 */
    text-align: center;    /* 文本居中 */
    text-decoration: none; /* 去掉下划线 */
    font-weight: bold;     /* 加粗文本 */
    vertical-align: middle; /* 垂直居中对齐 */
}


/* 鼠标悬停样式 */
.search_button:hover {
    background-color: #0056b3; /* 悬停时的背景颜色 */
}


/* Style for the footer */
footer {
    color: palevioletred;
    text-align: center; /* Center-align the text */
    padding: 10px; /* Add padding for spacing */
}
