:root {
  --transition: 0.3s ease-in-out all;
}
* {
        outline: 0;
        padding: 0;
        margin: 0;
        border: 0;
    }

    #id_for_file {
        display: none;
    }

    label {
        margin-top: 1rem;
        font-weight: bold;
        cursor: pointer;
    }

    label:hover {
        color: #b1dfbb;
    }

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
html, body {
  height: 100%; /* 确保 html 和 body 元素占满整个视口 */
  overflow-y: auto; /* 允许在 Y 轴出现滚动条 */
}
.page {

  min-height: calc(100vh - (6rem + 4rem));
}
.header {
  display: flex; /* 使用 Flexbox 布局 */
  justify-content: space-between; /* 两端对齐，中间留空 */
  border-bottom: 1px solid gray; /* 添加黑色边框 */
  padding: 5px; /* 添加一些内边距，让布局更加美观 */
  align-items: center; /* 垂直居中对齐子元素 */
}

.name_input {
  margin-right: 20px; /* 添加右边距 */
  margin-left: 5px; /* 添加左边距 */
  font-size: 20px; /* 设置字体大小 */
}

.types {
  font-size: 20px; /* 设置字体大小 */
  display: flex; /* 使单选按钮水平排列 */
  flex-direction: row;
    align-items: center/* 将单选按钮水平排列 */
}
.type {
    padding: 0;
    border-top: none;
    margin-left: 2rem;
  }
/* 增加一个伪元素在单选按钮后面 */
.type input[type="radio"] + span::after {
  content: ''; /* 伪元素的内容 */
  display: inline-block; /* 使伪元素像块元素一样排列 */
  width: 0.5rem; /* 你想要的空间大小 */
  height: 1px; /* 使伪元素不可见 */
}

/* 为每个单选按钮后的文字添加span标签 */
.type input[type="radio"] + span {
  padding-left: 10px; /* 或者你想要的任何大小 */
}
@media screen and (max-width: 576px) {
    .header{
        padding: 3px;
    }
    .name_input {
  margin-right: 5px; /* 添加右边距 */
  margin-left: 5px; /* 添加左边距 */
  font-size: 18px; /* 设置字体大小 */
}
  .type{
      margin-left: 1rem;
  }
}




.upload_picture {
    border-bottom: 1px solid gray;
    padding: 10px;
    /* 新添加的内边距 */
}

.upload_picture h3 {
    display: inline-block; /* 使 h3 和按钮在同一行 */
    margin-right: 10px; /* 为 h3 添加右边距 */
}

.choose_file {
    display: inline-block; /* 使按钮和 h3 在同一行 */
    vertical-align:center;
    width: 30%;
    margin-right: 3rem;
    text-decoration: underline;
    /* 对齐到顶部 */
}
.upload_picture button{
  display: inline-block; /* 使按钮和 h3 在同一行 */
    vertical-align:center;
    width: 15%;
margin-left: auto;
  height: 2rem;
    border-radius: 7px;
}
/* 新的图片容器样式 */
.image-container {
  display: flex; /* 使用 Flexbox 布局 */
  justify-content: center; /* 水平居中 */
  margin-top: 0.75rem; /* 上边距 */
}

.recipe-img {
  /*height: 15rem;*/
  width : 32rem;
  border-radius: var(--borderRadius);
  margin-bottom: 1rem;
}
@media screen and (max-width: 576px) {
    .upload_picture button{
   width: 20%;
        margin-left: auto;/* 设置字体大小 */
}
    .recipe-img {

  width : 25rem;

}
}

/*@media screen and (min-width: 576px) {*/

/*  .recipe-img {*/
/*    height: 10rem;*/
/*  }*/
/*}*/

.text{
     display: flex; /* 使用 Flexbox 布局 */
  justify-content: space-between; /* 两端对齐，中间留空 */
  border-bottom: 1px solid gray; /* 添加黑色边框 */
  padding: 5px; /* 添加一些内边距，让布局更加美观 */
    /* 垂直居中对齐子元素 */
}
.context{
   margin-right: 20px; /* 添加右边距 */
  margin-left: 5px; /* 添加左边距 */
  font-size: 20px;
    align-self: flex-start;/* 设置字体大小 */
}


.add_ingredient {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #333333;
  overflow-y: auto;
  padding-bottom: 10px;
}
.add_ingredient h3{
    margin-top: 0.75rem;
     margin-right: 20px; /* 添加右边距 */
  margin-left: 5px; /* 添加左边距 */
  font-size: 20px;
    align-self: flex-start;/* 设置字体大小 */
}

#ingredientsTable {
  border-collapse: collapse;
  width: 70%;
  margin-top: 10px;
}

#ingredientsTable th,
#ingredientsTable td {
  border: 1px solid #333333;
  padding: 7px;
  text-align: center; /* 居中显示单元格内容 */
}

#ingredientsTable input[type="text"] {
  width: 90%;
  border: none;
  padding: 5px;
  text-align: center; /* 输入框和内容居中 */
}

.add_ingredient button {
  align-self: flex-start; /* 按钮对齐到左边 */
  margin-top: 15px;
  font-size: 16px;
  width: 15%;
  height: 1.5rem;
  border-radius: 7px;
  margin-left: 9rem; /* 左边距，将按钮放在左下角 */
  margin-bottom: 0.5rem;
}


.submit{
    justify-content: center;
    display: flex;
}
.submit button {
  display: flex;
  justify-content: center;
    align-items: center;
  margin-top: 15px;
    font-size: 16px;
    width: 25%;
  height: 2rem;

    border-radius: 7px;
    /* 或足够的边距以适当分隔上传区域和提交按钮 */
}

.dark-mode {
  background-color: #333; /* 深色背景 */
  color: #fff; /* 浅色文字 */
  /* 其他深夜模式样式 */
}

.dark-mode p,
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode a
/* 以及任何其他您希望在深夜模式下拥有白色文字的元素 */ {
  color: #fff; /* 设置这些元素的文字颜色为白色 */
}
.dark-mode .name_input{
    background: #333;
}
.dark-mode .name_input::placeholder {
  color:#f2f2f2;
}
.dark-mode textarea{
    background: #333;
}
/* 深色模式下文本区域占位符的样式 */
.dark-mode .context::placeholder {
  color: #f2f2f2; /* 深色模式下的占位符颜色 */
}
/* 深色模式下表格边框的样式 */
.dark-mode .ingredientsTable,
.dark-mode .ingredientsTable th,
.dark-mode .ingredientsTable td {
  border-color: white; /* 设置边框颜色为白色 */
}





